{%extends base.html%}
{%block background%}<body background='static/background/background1.jpg'>{%end%}
{%block title%} Sign up {%end%}
{%block body%}
<div style="font-family:'Courier New', Courier, monospace">
    <h1><b> Ahmadreza samadi</b></h1>
    <p>
        Hello this is Ahmadreza samadi I am student at kashan university
        my field is Computer engineering .
        I think that an eager mind who knows nothing is better than a boring talented mind.
        I am willing to face some new challenges toward my goals.
        I am an ex heavy weight boxer with alot of achivement via body building .
        I am a programmer my skills are written down there .
        Please for your won sake [ one day you may become a programmer] concern about copy write.
    </p>
    <p>
        And here is my resume:
        No I cant show it to you if you want to know what I know email me :
        <b>ahmadreza.smdi@gmail.com</b>
    </p>
</div>
{%end%}
