{%extends base.html%}
{%block background%}<body background='static/background/background.jpg'>{%end%}
{%block title%} Main page {%end%}

{%block body%}
    {%for i in range (length)%}  
        <div align='center' class="hov">
            <div style="border: 2px solid rgb(11, 132, 168); width:50%;padding: 2px;">
          
                <h3 style="font-family: 'Courier New', Courier, monospace;">NAME :</h3>
                <p class="pp">{{post[i][0]}}</p>
            
                <h3 style="font-family: 'Courier New', Courier, monospace;">USER NAME :</h3>
                <p class="pp">{{post[i][1]}}</p>
            
                <h3 style="font-family: 'Courier New', Courier, monospace;">POST :</h3>
                <p class="pp">{{post[i][2]}}</p>
            
                <h3 style="font-family: 'Courier New', Courier, monospace;">DATE :</h3>
                <p class="pp">{{post[i][3]}}</p>
            
                <h3 style="font-family: 'Courier New', Courier, monospace;">LIKE :</h3>
                <p class="pp">{{post[i][4]}}<br> <button type="submit" formmethod="POST" formaction="/likes"> Like</button></p>
                
            </div>
        </div>
    {%end%}
{%end%}